My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-allergy",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -16
      ],
      "id": "caa6b7d6-3dfc-45f5-b9fc-4973e8ad640a",
      "name": "Webhook",
      "webhookId": "62815e08-c761-4335-9c2f-571cf854ee2a"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IOakjIQephX63uL4pqSDD_67lJ1o4O14Ie4Uwbb99Hk",
          "mode": "list",
          "cachedResultName": "KFC_AI_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOakjIQephX63uL4pqSDD_67lJ1o4O14Ie4Uwbb99Hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 747444077,
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOakjIQephX63uL4pqSDD_67lJ1o4O14Ie4Uwbb99Hk/edit#gid=747444077"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_id",
              "lookupValue": "={{ $json.customer_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -16
      ],
      "id": "53ada0fc-196b-4198-9537-45f7b0094b55",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6Od8DRNqm22UIdQl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IOakjIQephX63uL4pqSDD_67lJ1o4O14Ie4Uwbb99Hk",
          "mode": "list",
          "cachedResultName": "KFC_AI_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOakjIQephX63uL4pqSDD_67lJ1o4O14Ie4Uwbb99Hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 740614938,
          "mode": "list",
          "cachedResultName": "menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IOakjIQephX63uL4pqSDD_67lJ1o4O14Ie4Uwbb99Hk/edit#gid=740614938"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "menu_id",
              "lookupValue": "={{ $json.menu_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        144
      ],
      "id": "7b168a2c-702c-43a8-84d2-75dbc757630d",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6Od8DRNqm22UIdQl",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Đảm bảo dữ liệu tồn tại trước khi xử lý\nconst customerAllergies = items[0]?.json?.allergies?.split(',').map(s => s.trim()) || [];\nconst menuAllergens = items[1]?.json?.allergens?.split(',').map(s => s.trim()) || [];\n\n// Tính toán giao điểm giữa 2 mảng (các thành phần trùng khớp)\nconst matched = menuAllergens.filter(a => customerAllergies.includes(a));\n\nreturn {\n  json: {\n    has_risk: matched.length > 0,\n    matched_allergens: matched\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        16
      ],
      "id": "8e860818-30e0-4792-83ec-cc439928c8f0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-3.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Bạn là chuyên gia dinh dưỡng của KFC. \nDưới đây là thông tin:\n- Khách hàng dị ứng: {{ $json.allergies_customer }}\n- Món ăn khách chọn: {{ $json.name_vi }} (thành phần: {{ $json.ingredients }})\n\nHãy trả về kết quả định dạng JSON duy nhất như sau:\n{\n  \"has_risk\": boolean,\n  \"warning_message\": \"...\",\n  \"safe_to_order\": boolean,\n  \"suggestions\": [\"Món A\", \"Món B\"]\n}\nNếu món ăn chứa thành phần gây dị ứng, has_risk là true.",
              "role": "model"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        368,
        64
      ],
      "id": "bc9b86a1-b331-4d69-bcff-e86c45e7091d",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "nynEDkecgcLjsZPQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        64
      ],
      "id": "5a503dd9-692e-4223-a855-5bf542c7af3c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "30e7dddd-9c06-4cde-89b5-2d305a3230e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb7f24bda0399a8c365f6f99a58b60f3e3bac4f2bc97ef376e11cb3bf586193a"
  },
  "nodeGroups": [],
  "id": "EoUls1Wlxw7Y4NFL",
  "tags": []
}